$Grey-blue: rgb(208, 214, 249);

.crew {
    height: 100vh;
    width: 100vw;
    background: url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    color: white;
    padding-top: 212px;
    padding-left: 166.5px;

    .title-page-crew {
        font-family: "Barlow Condensed";
        display: flex;
        font-size: 28px;
        height: 34px;
        letter-spacing: 4.72px;
        font-weight: 400;

        .title-page-crew-number {
            margin-right: 28px;
            opacity: 0.25;
            font-weight: bold;
        }
    }

    .content-crew {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        margin-top: 154px;

        .crew-role {
            font-family: Bellefair;
            font-size: 32px;
            line-height: 36px;
            opacity: 0.5;
        }

        .img-crew {
            bottom: 0;
            right: 173px;
            position: absolute;
        }

        .name-crew {
            font-size: 56px;
            font-family: Bellefair;
            line-height: 64px;
            margin-top: 15px;
        }

        .description-crew {
            color: $Grey-blue;
            font-size: 18px;
            font-family: "Barlow";
            line-height: 32px;
            text-align: left;
            margin-top: 27px;
            width: 444px;
        }

        .change-crew {
            display: flex;
            justify-content: space-between;
            margin-top: 120px;
            width: 132px;

            .btn {
                border-radius: 100%;
                width: 15px;
                height: 15px;
                background-color: $Grey-blue;
                opacity: 0.25;
            }
            .active {
                opacity: 1;
            }
        }
    }


   
}
