$Grey-blue: rgb(208, 214, 249);


.destination {
    height: 100vh;
    width: 100vw;
    background: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    padding-top: 212px;
    padding-left: 166.5px;

    .title-page-destination {
        font-family: "Barlow Condensed";
        display: flex;
        font-size: 28px;
        height: 34px;
        letter-spacing: 4.72px;
        font-weight: 400;

        .title-page-destination-number {
            margin-right: 28px;

            opacity: 0.25;
            font-weight: bold;
        }
    }

    .content-destination {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 64px;

        img {
            height: 445px;
        }

        .text-destination {
            width: 472px;
            justify-content: space-around;

            .navbar-planet {
                display: flex;
                list-style: none;
                font-family: "Barlow Condensed";
                height: 34px;
                margin-bottom: 37px;

                .item-planet {
                    margin-right: 35px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2.7px;
                    font-weight: 400;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .name-planet {
                font-size: 100px;
                font-family: Bellefair;
            }

            .description-planet {
                color: $Grey-blue;
                font-size: 18px;
                font-family: "Barlow";
                line-height: 32px;
                text-align: left;
                width: 94%;
                margin-bottom: 54px;
            }

            .trait {
                width: 95%;
                height: 1px;
                background-color: #383b4b;
                margin-bottom: 28px;
            }

            .stat-planet {
                display: flex;
                font-family: "Bellefair";
                text-transform: uppercase;
                font-size: 28px;

                .distance {
                    display: flex;
                    flex-direction: column;
                    margin-right: 79px;

                    .text-distance {
                        font-family: "Barlow Condensed";
                        margin-bottom: 12px;
                        font-size: 14px;
                        letter-spacing: 2.36px;
                    }
                }

                .travel-time {
                    display: flex;
                    flex-direction: column;

                    .text-travel {
                        font-family: "Barlow Condensed";
                        margin-bottom: 12px;
                        font-size: 14px;
                        letter-spacing: 2.36px;
                    }
                }
            }
        }
    }

    .active {
        border-bottom: white solid 4px;
    }
}
