.destination {
    height: 100vh;
    width: 100vw;
    background: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    padding-top: 212px;
    padding-left: 166.5px;

    .title-page-destination {
        font-family: "Barlow Condensed";
        display: flex;
        font-size: 28px;
        height: 34px;
        letter-spacing: 4.72px;
        font-weight: 400;

        .title-page-destination-number {
            margin-right: 28px;

            opacity: 0.25;
            font-weight: bold;
        }
    }

    .content-destination {
        display: flex;
        justify-content: space-around;
        margin-top: 64px;

        .text-destination {
            width: 472px;
            justify-content: space-around;

            .navbar-planet {
                display: flex;
                list-style: none;
                font-family: "Barlow Condensed";
                height: 34px;
                margin-bottom: 37px;

                .item-planet {
                    margin-right: 35px;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 2.7px;
                    font-weight: 400;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .name-planet {
                font-size: 100px;
                font-family: Bellefair;
            }
        }
    }

    .active {
        border-bottom: white solid 4px;
    }
}
