$Grey-blue: rgb(208, 214, 249);

.Home {
    height: 100vh;
    width: 100vw;
    background: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;

    .description {
        width: 450px;
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 15%;
        left: 165px;
        height: 382px;

        .start-text {
            font-family: "Barlow Condensed";
            font-size: 28px;
            letter-spacing: 4.72px;
            margin-bottom: 24px;
        }

        .space {
            display: flex;
            align-items: center;
            font-family: Bellefair;
            font-size: 150px;
            font-weight: 400;
            height: 172px;
        }

        .end-text {
            line-height: 32px;
            font-family: "Barlow";
            font-weight: 400;
            font-size: 18px;
            font-style: normal;
            height: 128px;
            margin-top: 24px;
            color: $Grey-blue;
        }
    }

    .explorer {
        position: absolute;
        right: 165px;
        bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-family: Bellefair;
        font-size: 32px;
        line-height: 36.67px;
        font-weight: 400;
        letter-spacing: 2px;
        background-color: white;
        height: 274px;
        width: 274px;
        border-radius: 100%;

        &:hover {
            color: white;
            background-color: black;
            cursor: pointer;
        }
    }
}
